# NAMESPACE file for logopt
export(w2x,
       crp,
       bh,
       oracle,
       best.asset,
       worst.asset,
       best.envelope,
       worst.envelope,
       bcrp.optim,
       universal.cover,
       universal.cover.random,
       wscrp,
       scrp,
       mult.upgrade,
       switching.portfolio
       )
       
