# NAMESPACE file for logopt
export(w2x,
       crp,
       bh,
       oracle,
       best.asset,
       worst.asset,
       best.envelope,
       worst.envelope,
       bcrp.optim,
       universal.cover,
       wscrp,
       scrp
       )
       
